* {
    margin: 0 auto;
    box-sizing: border-box;
/*    border: 3px solid black;*/
}


#container {
    /*    border: 3px solid green;*/
    padding: 1rem;
    margin: 10rem;
    background-color: #f5f6f6;
    border-radius: 10px;
    padding: 3rem;
    box-shadow: -30px -25px -25px 25px rgba(0,0,0,0.2);
    border: 5px solid #e3e1e1;
}

.selectValue, input {
    padding: 0.7rem;
    border-radius: 4px;
    border: 2px solid #e3e1e1;
}

h1 {
    font-weight: bold;
}

.optionPick {
    margin: 1em 0 0.5em 0;
}

button {
    display: block;
    margin: 3em 0 1em 0;
}